weights/*
!weights/beatthis_mirex.ckpt
!weights/mscnn_mirex.ckpt
!weights/tcn_mirex.ckpt
!weights/README.md
!weights/manifest.json
third_party/*
!third_party/plpdp4beat/
third_party/plpdp4beat/*
!third_party/plpdp4beat/__init__.py
!third_party/plpdp4beat/modules.py
!third_party/plpdp4beat/LICENSE
vendor/
MANIFEST.json
!weights/manifest.json
*.tar.gz
__pycache__/
*.pyc
